<div class="central-meta">
  <div class="editing-info">
    <h5 class="f-title"><i class="ti-info-alt"></i> Chỉnh sửa thông tin cá nhân</h5>

    <form [formGroup]="formUpdateInfo" (ngSubmit)="onUpdate()">
      <div class="form-group">
        <input type="text" id="input" required="required" formControlName="fullName">
        <label class="control-label" for="input">Họ & tên</label><i class="mtrl-select"></i>
      </div>
      <div class="form-group">
        <input type="text" required="required" formControlName="email">
        <label class="control-label" for="input">Email</label><i class="mtrl-select"></i>
      </div>
      <div class="form-group">
        <input type="text" required="required" formControlName="phone">
        <label class="control-label" for="input">Số điện thoại </label><i class="mtrl-select"></i>
      </div>
      <div class="dob">
        <div class="form-group">
          <input type="date" required="required" formControlName="dateOfBirth">
          <label class="control-label" for="input">Ngày sinh </label><i class="mtrl-select"></i>
        </div>
      </div>
      <div class="form-group">
        <input type="text" required="required" formControlName="address">
        <label class="control-label" for="input">Địa chỉ</label><i class="mtrl-select"></i>
      </div>
      <div class="form-group">
        <textarea rows="4" required="required" id="textarea" formControlName="hobbies"></textarea>
        <label class="control-label" for="textarea">Sở thích</label><i class="mtrl-select"></i>
      </div>
      <div class="submit-btns">
        <button type="submit" class="mtr-btn"><span>Cập nhật</span></button>
      </div>
    </form>
  </div>
</div>
