<div class="log-reg-area reg">
  <h2 class="log-title">Đăng ký tài khoản</h2>
  <p>
    Hãy đăng ký tài khoản bên dưới để tham gia cùng cộng đồng chúng tôi
  </p>
  <form [formGroup]="formRegister" (ngSubmit)="onRegister()" autocomplete="off">
    <div class="form-group">
      <input type="text" required="required" id="username" formControlName="username">
      <label class="control-label" for="username">Tên tài khoản</label><i class="mtrl-select"></i>
      <span id="error-username" style="color: red"></span>
    </div>
    <div class="form-group">
      <input type="password" required="required" id="password" formControlName="password">
      <label class="control-label" for="password">Mật khẩu</label><i class="mtrl-select"></i>
    </div>
    <div class="form-group">
      <input type="password" required="required" id="Repassword" formControlName="confirmPassword">
      <label class="control-label" for="Repassword">Xác nhận mật khẩu</label><i class="mtrl-select"></i>
      <span id="error-repass" style="color: red"></span>
    </div>
    <div class="form-group">
      <input type="text" required="required" id="email" formControlName="email">
      <label class="control-label" for="email">Email</label><i
      class="mtrl-select"></i>
      <span id="error-email" style="color: red;"></span>
    </div>
    <div class="form-group">
      <input type="text" required="required" id="phone" formControlName="phone">
      <label class="control-label" for="phone">Số điện thoại</label><i class="mtrl-select"></i>
    </div>
    <div class="form-group">
      <input type="date" required="required" id="DOB" formControlName="dateOfBirth">
      <label class="control-label" for="DOB">Ngày sinh</label><i class="mtrl-select"></i>
    </div>
    <a routerLink="../" class="already-have">Bạn đã có tài khoản</a>
    <div class="submit-btns">
      <button class="mtr-btn signup" type="submit"><span>Đăng ký</span></button>
    </div>
  </form>
</div>
