<div class="central-meta">
  <div class="new-postbox">
    <figure>
      <img src="{{user.avatarUrl}}" alt="">
    </figure>
    <div class="newpst-input">
      <form>
        <textarea rows="1" placeholder="{{user.fullName}} , bạn đang nghĩ gì thế ?" readonly
                  (click)="onPostDialog()"></textarea>
        <div class="attachments">
          <ul>
            <li>
              <i class="fa fa-image" (click)="onPostDialog()"></i>
            </li>
            <li>
              <button type="button" (click)="onPostDialog()">Đăng</button>
            </li>
          </ul>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="loadMore">
  <div class="central-meta item" *ngFor="let feed of newFeeds" style="display: inline-block;">
    <div class="user-post">
      <div class="friend-info">
        <figure>
          <img src="{{feed.user.avatarUrl}}" alt="">
        </figure>
        <div class="friend-name">
          <ins><a href="" title="">{{feed.user.fullName}}</a></ins>
          <span>{{feed.createdDate}}</span>
        </div>
        <div class="post-meta">
          <div class="description">
            <p>
              {{feed.content}}
            </p>
          </div>
          <img style="border: solid 1px" src="{{feed.image}}" alt="">
          <div class="we-video-info">
            <ul>
              <li>
                  <span class="views" data-toggle="tooltip" title="" data-original-title="Lượt thích">
                    <i class="fa-solid fa-thumbs-up"></i>
                    <ins>{{feed.likePostList.length}}</ins>
                  </span>
              </li>
              <li>
                  <span class="comment" data-toggle="tooltip" title="" data-original-title="Bình luận">
                    <i class="fa fa-comments-o"></i>
                    <ins>{{feed.commentList.length}}</ins>
                  </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="coment-area">
        <ul class="we-comet">
          <li *ngFor="let comment of feed.commentList">
            <div class="comet-avatar">
              <img src="{{comment.user.avatarUrl}}" alt="">
            </div>
            <div class="we-comment">
              <div class="coment-head">
                <h5><a href="" title="">{{comment.user.fullName}}</a></h5>
                <span>{{comment.createdDate}}</span>
                <a class="we-reply" href="#" title="Reply"><i class="fa fa-reply"></i></a>
              </div>
              <p>{{comment.content}}</p>
            </div>
            <!--            <ul>-->
            <!--              <li>-->
            <!--                <div class="comet-avatar">-->
            <!--                  <img src="" alt="">-->
            <!--                </div>-->
            <!--                <div class="we-comment">-->
            <!--                  <div class="coment-head">-->
            <!--                    <h5><a href="" title="">alexendra dadrio</a></h5>-->
            <!--                    <span>1 month ago</span>-->
            <!--                    <a class="we-reply" href="#" title="Reply"><i class="fa fa-reply"></i></a>-->
            <!--                  </div>-->
            <!--                  <p>yes, really very awesome car i see the features of this car in the official website of <a-->
            <!--                    href="#" title="">#Mercedes-Benz</a> and really impressed :-)</p>-->
            <!--                </div>-->
            <!--              </li>-->
            <!--            </ul>-->
          <li>
            <a href="#" title="" class="showmore underline">more comments</a>
          </li>
          <li class="post-comment">
            <app-comment [user]="user" (commentEvent)="handleComment(feed.id,$event)"></app-comment>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<button class="btn-view btn-load-more">Load More</button>

