<form [formGroup]="formRegister" (ngSubmit)="onRegister()" autocomplete="off">
  <h1 mat-dialog-title>Đăng ký tài khoản</h1>
  <div class="row">
    <div mat-dialog-content class="col-md-8 col-lg-8 col-sm-6">
      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Tên tài khoản:</mat-label>
        <input matInput placeholder="Nhập tên tài khoản" formControlName="username">
        <mat-error id="#error-username">Trường này không để trống</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Mật khẩu:</mat-label>
        <input matInput type="text" placeholder="Nhập mật khẩu" formControlName="password">
        <mat-error>Trường này không để trống</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Xác nhận mật khẩu:</mat-label>
        <input matInput type="text" placeholder="Xác nhận mật khẩu" formControlName="confirmPassword">
        <mat-error id="#error-repass">Trường này không để trống</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Email:</mat-label>
        <input matInput type="text" placeholder="Nhập email" formControlName="email">
        <mat-error>Trường này không để trống</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Số điện thoại:</mat-label>
        <input matInput type="text" placeholder="Nhập số điện thoại" formControlName="phone">
      </mat-form-field>
      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Ngày sinh:</mat-label>
        <input matInput type="date" placeholder="Nhập ngày sinh" formControlName="dateOfBirth">
      </mat-form-field>
    </div>
    <div mat-dialog-actions [align]="'end'" style="margin-right: 40px; padding-right: 30px">
      <button mat-raised-button color="accent" mat-dialog-close>Thoát</button>
      <button type="submit" mat-raised-button color="warn" [disabled]="formRegister.invalid">Xác nhận</button>
    </div>
  </div>
</form>

