<div class="central-meta">
  <div class="editing-info">
    <h5 class="f-title"><mat-icon style="color: #0a98dc">sync_lock</mat-icon> Đổi mật khẩu</h5>

    <form [formGroup]="formPassword" (ngSubmit)="onChangeSubmit()">
      <div class="form-group">
        <input type="password" formControlName="currentPassword">
        <label class="control-label" for="input">Mât khẩu hiện tại</label><i class="mtrl-select"></i>
        <span id="err-currpass" style="color: red"></span>
      </div>
      <div class="form-group">
        <input type="password" id="input"  formControlName="newPassword">
        <label class="control-label" for="input">Mật khẩu mới</label><i class="mtrl-select"></i>
      </div>
      <div class="form-group">
        <input type="password" formControlName="confirmNewPassword">
        <label class="control-label" for="input">Xác nhận mật khẩu</label><i class="mtrl-select"></i>
        <span id="err-renewpass" style="color: red"></span>
      </div>
      <div class="submit-btns">
        <button type="submit" class="mtr-btn" [disabled]="formPassword.invalid"><span>Cập nhật</span></button>
      </div>
    </form>
  </div>
</div>
