<div class="theme-layout">
  <div class="container-fluid pdng0">
    <div class="row merged">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="land-featurearea">
          <div class="land-meta">
            <h1>Zoo Socical</h1>
            <p>
              Chào mừng đến với mạng xã hội của chúng tôi
            </p>
            <div class="friend-logo">
              <span><img src="assets/images/wink.png" alt=""></span>
            </div>
            <a href="#" title="" class="folow-me">Follow Us on</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
