<div class="theme-layout">
  <div class="container-fluid pdng0">
    <div class="row merged">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="land-featurearea">
          <div class="land-meta">
            <h1>Zoo Socical</h1>
            <p>
              Chào mừng đến với mạng xã hội của chúng tôi
            </p>
            <div class="friend-logo">
              <span><img src="assets/images/wink.png" alt=""></span>
            </div>
            <a href="#" title="" class="folow-me">Follow Us on</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="login-reg-bg">
          <div class="log-reg-area sign">
            <h2 class="log-title">Đăng nhập</h2>
            <p>
              Mời bạn đăng nhập tài khoản dưới đây
            </p>
            <form [formGroup]="formLogin" (ngSubmit)="onLogin()">
              <div class="form-group">
                <input type="text" id="input" required="required">
                <label class="control-label" for="input">Tài khoản</label><i class="mtrl-select"></i>
              </div>
              <div class="form-group">
                <input type="password" required="required">
                <label class="control-label" for="input">Password</label><i class="mtrl-select"></i>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" checked="checked"><i class="check-box"></i>Nhớ tài khoản
                </label>
              </div>
              <a href="#" title="" class="forgot-pwd">Quên mật khẩu</a>
              <div class="submit-btns">
                <button class="mtr-btn signin" type="button" style="margin-right: 10px"><span>Đăng nhập</span></button>
                <button class="mtr-btn signup" type="button" routerLink="/register"><span>Đăng ký</span></button>
              </div>
            </form>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
