<div class="topbar stick is_stuck" style="position: fixed; top: 0px; width: 1349px;">
  <div class="logo">
    <a title="" href=""><img src="" alt=""></a>
  </div>
  <div class="top-area">
    <i class="fa-solid fa-magnifying-glass"></i>
    <input id="icon-search" type="text" placeholder="Tìm kiếm">
    <div class="user-img">
      <img src="{{user.avatarUrl}}" alt="">
    </div>
    <ul class="main-menu">
      <li>
        <form method="post" class="form-search">
          <input type="text" placeholder="Search Friend">
          <button data-ripple=""><i class="ti-search"></i></button>
        </form>
      </li>
      <li>
        <a title="Trang chủ"><i class="fa fa-house" style="size: 100px"></i></a>
      </li>
      <li>
        <a title="Bạn bè"><i class="fa fa-user-group"></i></a>
      </li>
    </ul>
    <ul class="setting-area">
      <li>
        <a href="#" title="Thông báo" data-ripple="">
          <i class="fa fa-bell"></i><span>20</span>
        </a>
      </li>
      <li>
        <a href="#" title="Tin nhắn" data-ripple=""><i class="fa-brands fa-facebook-messenger"></i><span>12</span></a>
      </li>
      <li>
        <a href="#" title="Chọn thêm" data-ripple=""><i class="fa-solid fa-caret-down"></i></a>
      </li>
    </ul>
  </div>
</div>
