<aside class="sidebar static">
  <div class="widget">
    <h4 class="widget-title"></h4>
    <ul class="naves">
      <li>
        <i class="fa-regular fa-clipboard"></i>
        <a routerLink="../home" title="">Tin mới</a>
      </li>
      <li>
        <i class="fa fa-user-group"></i>
        <a routerLink="../info/friend" title="">Bạn bè</a>
      </li>
      <li>
        <i class="fa-solid fa-user"></i>
        <a routerLink="../timeline" title="">Trang cá nhân</a>
      </li>
      <li>
        <i class="fa-brands fa-facebook-messenger"></i>
        <a href="" title="">Tin nhắn</a>
      </li>
      <li>
        <i class="fa-solid fa-right-from-bracket"></i>
        <a (click)="onLogout()"  title="">Đăng xuất</a>
      </li>
    </ul>
  </div>
  <div class="widget stick-widget">
    <h4 class="widget-title">Gợi ý kết bạn</h4>
    <ul class="followers ps-container ps-theme-default ps-active-y" data-ps-id="e93a6b5d-2995-4b43-9a0d-b322bdc82885">
      <li>
        <figure><img src="" alt=""></figure>
        <div class="friend-meta">
          <h4><a href="" title="">Kelly Bill</a></h4>
          <a href="#" title="" class="underline">Kết bạn</a>
        </div>
      </li>
    </ul>
  </div>
</aside>
