<aside class="sidebar static">
  <div class="widget">
    <h4 class="widget-title"></h4>
    <ul class="naves">
      <li>
        <i class="fa-regular fa-clipboard"></i>
        <a [routerLink]="['/home']" title="">Tin mới</a>
      </li>
      <li>
        <i class="fa fa-user-group"></i>
        <a [routerLink]="['/info/friend']" title="">Bạn bè</a>
      </li>
      <li>
        <i class="fa-solid fa-user"></i>
        <a [routerLink]="['/timeline']" title="">Trang cá nhân</a>
      </li>
      <li>
        <i class="fa-brands fa-facebook-messenger"></i>
        <a href="" title="">Tin nhắn</a>
      </li>
      <li>
        <i class="fa-solid fa-right-from-bracket"></i>
        <a (click)="onLogout()"  title="">Đăng xuất</a>
      </li>
    </ul>
  </div>
</aside>
