<div class="comet-avatar">
  <img src="{{user.avatarUrl}}" alt="">
</div>
<div class="post-comt-box">
  <form [formGroup]="formComment" (keyup.enter)="handleEnter()" >
    <textarea placeholder="Viết bình luận" formControlName="content"></textarea>
    <div class="add-smiles">
      <span class="em em-expressionless" title="add icon"></span>
    </div>
    <div class="smiles-bunch">
      <i class="em em---1"></i>
      <i class="em em-smiley"></i>
      <i class="em em-anguished"></i>
      <i class="em em-laughing"></i>
      <i class="em em-angry"></i>
      <i class="em em-astonished"></i>
      <i class="em em-blush"></i>
      <i class="em em-disappointed"></i>
      <i class="em em-worried"></i>
      <i class="em em-kissing_heart"></i>
      <i class="em em-rage"></i>
      <i class="em em-stuck_out_tongue"></i>
    </div>
    <button type="submit"></button>
  </form>
</div>
