<div class="central-meta">
  <div class="new-postbox">
    <figure>
      <img src="{{user.avatarUrl}}" alt="">
    </figure>
    <div class="newpst-input">
      <form [formGroup]="formPost" (ngSubmit)="onPost()">
        <textarea rows="2" placeholder="Bạn đang nghĩ gì" formControlName="content"></textarea>
        <div class="attachments">
          <ul>
            <li>
              <label for="status">Chế độ:
                <select formControlName="status" id="status">
                  <option value="PUBLIC">Công khai</option>
                  <option value="FRIENDS">Bạn bè</option>
                  <option value="PRIVATE">Chỉ mình tôi</option>
                </select>
              </label>
            </li>
            <li>
              <i class="fa fa-image"></i>
              <label class="fileContainer">
                <input #uploadFile type="file" (change)="uploadImage()" >
              </label>
            </li>
            <li>
              <button type="submit">Đăng</button>
            </li>
          </ul>
        </div>
        <img [src]="imageUrl" alt="">
      </form>
    </div>
  </div>
</div>
