<div class="newpst-input">
  <h1 mat-dialog-title>{{typeStatus}}</h1>
  <form [formGroup]="formPost" (ngSubmit)="onPost()">
    <textarea rows="2" placeholder="Bạn đang nghĩ gì" formControlName="content"></textarea>
    <div class="attachments">
      <ul>
        <li>
          <label for="status">Chế độ:
            <select formControlName="status" id="status">
              <option value="PUBLIC">Công khai</option>
              <option value="FRIENDS">Bạn bè</option>
              <option value="PRIVATE">Chỉ mình tôi</option>
            </select>
          </label>
        </li>
        <li>
          <i  data-visualcompletion="css-img" class="hu5pjgll bixrwtb6" style="height: 24px; width: 24px; background-image: url(&quot;https://static.xx.fbcdn.net/rsrc.php/v3/yd/r/kh-mrjY72aj.png&quot;); background-position: 0px -233px; background-size: auto; background-repeat: no-repeat; display: inline-block;"></i>
          <label class="fileContainer">
            <input #uploadFile type="file" (change)="uploadImage()">
          </label>
        </li>
      </ul>
    </div>
    <ng-container *ngIf="imageUrl!= ''">
      <div align="center" style="height: 300px; width: 100%; margin-top: 20px">
        <img [src]="imageUrl" alt="" style="width: 100%; height: 100%">
      </div>
    </ng-container>
    <div mat-dialog-actions [align]="'end'" style="margin-right: 40px; padding-right: 30px">
      <button type="submit" mat-raised-button color="primary" [disabled]="formPost.invalid">Đăng</button>
    </div>
  </form>
</div>
